html, body {
  background: #FFFFFF;
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  font-family: "Avenir", "Tahoma", "Lucida Sans", "Lucida Grande", Verdana, Arial, sans-serif;
  color: #333;
  line-height: 1.5;
}

a {
  color: #263F6C;
}

a:visited {
  color: #112750;
}

h1, h2, h3, h4, h5, h6 {
  margin: 35px 0 25px;
  color: #444444;
}

h1.type-name {
  color: #47266E;
  margin: 20px 0 30px;
  background-color: #F8F8F8;
  padding: 10px 12px;
  border: 1px solid #EBEBEB;
  border-radius: 2px;
}

h2 {
  border-bottom: 1px solid #E6E6E6;
  padding-bottom: 5px;
}

body {
  display: flex;
}

.sidebar, .main-content {
  overflow: auto;
}

.sidebar {
  width: 30em;
  color: #F8F4FD;
  background-color: #2E1052;
  padding: 0 0 30px;
  box-shadow: inset -3px 0 4px rgba(0,0,0,.35);
  line-height: 1.2;
  z-index: 0;
}

.sidebar .search-box {
  padding: 13px 9px;
}

.sidebar input {
  display: block;
  box-sizing: border-box;
  margin: 0;
  padding: 5px;
  font: inherit;
  font-family: inherit;
  line-height: 1.2;
  width: 100%;
  border: 0;
  outline: 0;
  border-radius: 2px;
  box-shadow: 0px 3px 5px rgba(0,0,0,.25);
  transition: box-shadow .12s;
}

.sidebar input:focus {
  box-shadow: 0px 5px 6px rgba(0,0,0,.5);
}

.sidebar input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #C8C8C8;
  font-size: 14px;
  text-indent: 2px;
}

.sidebar input::-moz-placeholder { /* Firefox 19+ */
  color: #C8C8C8;
  font-size: 14px;
  text-indent: 2px;
}

.sidebar input:-ms-input-placeholder { /* IE 10+ */
  color: #C8C8C8;
  font-size: 14px;
  text-indent: 2px;
}

.sidebar input:-moz-placeholder { /* Firefox 18- */
  color: #C8C8C8;
  font-size: 14px;
  text-indent: 2px;
}

.project-summary {
  padding: 9px 15px 30px 30px;
}

.project-name {
  font-size: 1.4rem;
  margin: 0;
  color: #f4f4f4;
  font-weight: 600;
}

.project-version {
  margin-top: 5px;
  display: inline-block;
  position: relative;
}

.project-version > form::after {
  position: absolute;
  right: 0;
  top: 0;
  content: "\25BC";
  font-size: .6em;
  line-height: 1.2rem;
  z-index: -1;
}

.project-versions-nav {
  cursor: pointer;
  margin: 0;
  padding: 0 .9em 0 0;
  border: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
.project-versions-nav:focus {
  outline: none;
}

.project-versions-nav > option {
  color: initial;
}

.sidebar ul {
  margin: 0;
  padding: 0;
  list-style: none outside;
}

.sidebar li {
  display: block;
  position: relative;
}

.types-list li.hide {
  display: none;
}

.sidebar a {
  text-decoration: none;
  color: inherit;
  transition: color .14s;
}
.types-list a {
  display: block;
  padding: 5px 15px 5px 30px;
}

.types-list {
  display: block;
}

.sidebar a:focus {
  outline: 1px solid #D1B7F1;
}

.types-list a {
  padding: 5px 15px 5px 30px;
}

.sidebar .current > a,
.sidebar a:hover {
  color: #866BA6;
}

.types-list li ul {
  overflow: hidden;
  height: 0;
  max-height: 0;
  transition: 1s ease-in-out;
}

.types-list li.parent {
  padding-left: 30px;
}

.types-list li.parent::before {
  box-sizing: border-box;
  content: "▼";
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  color: white;
  font-size: 8px;
  line-height: 30px;
  transform: rotateZ(-90deg);
  cursor: pointer;
  transition: .2s linear;
}


.types-list li.parent > a {
  padding-left: 0;
}

.types-list li.parent.open::before {
  transform: rotateZ(0);
}

.types-list li.open > ul {
  height: auto;
  max-height: 1000em;
}

.main-content {
  padding: 0 30px 30px 30px;
  width: 100%;
}

.kind {
  font-size: 60%;
  color: #866BA6;
}

.superclass-hierarchy {
  margin: -15px 0 30px 0;
  padding: 0;
  list-style: none outside;
  font-size: 80%;
}

.superclass-hierarchy .superclass {
  display: inline-block;
  margin: 0 7px 0 0;
  padding: 0;
}

.superclass-hierarchy .superclass + .superclass::before {
  content: "<";
  margin-right: 7px;
}

.other-types-list li {
  display: inline-block;
}

.other-types-list,
.list-summary {
  margin: 0 0 30px 0;
  padding: 0;
  list-style: none outside;
}

.entry-const {
  font-family: Menlo, Monaco, Consolas, 'Courier New', Courier, monospace;
}

.entry-const code {
  white-space: pre-wrap;
}

.entry-summary {
  padding-bottom: 4px;
}

.superclass-hierarchy .superclass a,
.other-type a,
.entry-summary .signature {
  padding: 4px 8px;
  margin-bottom: 4px;
  display: inline-block;
  background-color: #f8f8f8;
  color: #47266E;
  border: 1px solid #f0f0f0;
  text-decoration: none;
  border-radius: 3px;
  font-family: Menlo, Monaco, Consolas, 'Courier New', Courier, monospace;
  transition: background .15s, border-color .15s;
}

.superclass-hierarchy .superclass a:hover,
.other-type a:hover,
.entry-summary .signature:hover {
  background: #D5CAE3;
  border-color: #624288;
}

.entry-summary .summary {
  padding-left: 32px;
}

.entry-summary .summary p {
  margin: 12px 0 16px;
}

.entry-summary a {
  text-decoration: none;
}

.entry-detail {
  padding: 30px 0;
}

.entry-detail .signature {
  position: relative;
  padding: 5px 15px;
  margin-bottom: 10px;
  display: block;
  border-radius: 5px;
  background-color: #f8f8f8;
  color: #47266E;
  border: 1px solid #f0f0f0;
  font-family: Menlo, Monaco, Consolas, 'Courier New', Courier, monospace;
  transition: .2s ease-in-out;
}

.entry-detail:target .signature {
  background-color: #D5CAE3;
  border: 1px solid #624288;
}

.entry-detail .signature .method-permalink {
  position: absolute;
  top: 0;
  left: -35px;
  padding: 5px 15px;
  text-decoration: none;
  font-weight: bold;
  color: #624288;
  opacity: .4;
  transition: opacity .2s;
}

.entry-detail .signature .method-permalink:hover {
  opacity: 1;
}

.entry-detail:target .signature .method-permalink {
  opacity: 1;
}

.methods-inherited {
  padding-right: 10%;
  line-height: 1.5em;
}

.methods-inherited h3 {
  margin-bottom: 4px;
}

.methods-inherited a {
  display: inline-block;
  text-decoration: none;
  color: #47266E;
}

.methods-inherited a:hover {
  text-decoration: underline;
  color: #6C518B;
}

.methods-inherited .tooltip>span {
  background: #D5CAE3;
  padding: 4px 8px;
  border-radius: 3px;
  margin: -4px -8px;
}

.methods-inherited .tooltip * {
  color: #47266E;
}

pre {
  padding: 10px 20px;
  margin-top: 4px;
  border-radius: 3px;
  line-height: 1.45;
  overflow: auto;
  color: #333;
  background: #fdfdfd;
  font-size: 14px;
  border: 1px solid #eee;
}

code {
  font-family: Menlo, Monaco, Consolas, 'Courier New', Courier, monospace;
}

:not(pre) > code {
  background-color: rgba(40,35,30,0.05);
  padding: 0.2em 0.4em;
  font-size: 85%;
  border-radius: 3px;
}

span.flag {
  padding: 2px 4px 1px;
  border-radius: 3px;
  margin-right: 3px;
  font-size: 11px;
  border: 1px solid transparent;
}

span.flag.orange {
  background-color: #EE8737;
  color: #FCEBDD;
  border-color: #EB7317;
}

span.flag.yellow {
  background-color: #E4B91C;
  color: #FCF8E8;
  border-color: #B69115;
}

span.flag.green {
  background-color: #469C14;
  color: #E2F9D3;
  border-color: #34700E;
}

span.flag.red {
  background-color: #BF1919;
  color: #F9ECEC;
  border-color: #822C2C;
}

span.flag.purple {
  background-color: #2E1052;
  color: #ECE1F9;
  border-color: #1F0B37;
}

span.flag.lime {
  background-color: #a3ff00;
  color: #222222;
  border-color: #00ff1e;
}

.tooltip>span {
  position: absolute;
  opacity: 0;
  display: none;
  pointer-events: none;
}

.tooltip:hover>span {
  display: inline-block;
  opacity: 1;
}

.c {
  color: #969896;
}

.n {
  color: #0086b3;
}

.t {
  color: #0086b3;
}

.s {
  color: #183691;
}

.i {
  color: #7f5030;
}

.k {
  color: #a71d5d;
}

.o {
  color: #a71d5d;
}

.m {
  color: #795da3;
}

.hidden {
  display: none;
}
.search-results {
  font-size: 90%;
  line-height: 1.3;
}

.search-results mark {
  color: inherit;
  background: transparent;
  font-weight: bold;
}
.search-result {
  padding: 5px 8px 5px 5px;
  cursor: pointer;
  border-left: 5px solid transparent;
  transform: translateX(-3px);
  transition: all .2s, background-color 0s, border .02s;
  min-height: 3.2em;
}
.search-result.current {
  border-left-color: #ddd;
  background-color: rgba(200,200,200,0.4);
  transform: translateX(0);
  transition: all .2s, background-color .5s, border 0s;
}
.search-result.current:hover,
.search-result.current:focus {
  border-left-color: #866BA6;
}
.search-result:not(.current):nth-child(2n) {
  background-color: rgba(255,255,255,.06);
}
.search-result__title {
  font-size: 105%;
  word-break: break-all;
  line-height: 1.1;
  padding: 3px 0;
}
.search-result__title strong {
  font-weight: normal;
}
.search-results .search-result__title > a {
  padding: 0;
  display: block;
}
.search-result__title > a > .args {
  color: #dddddd;
  font-weight: 300;
  transition: inherit;
  font-size: 88%;
  line-height: 1.2;
  letter-spacing: -.02em;
}
.search-result__title > a > .args * {
  color: inherit;
}

.search-result a,
.search-result a:hover {
  color: inherit;
}
.search-result:not(.current):hover .search-result__title > a,
.search-result:not(.current):focus .search-result__title > a,
.search-result__title > a:focus {
  color: #866BA6;
}
.search-result:not(.current):hover .args,
.search-result:not(.current):focus .args {
  color: #6a5a7d;
}

.search-result__type {
  color: #e8e8e8;
  font-weight: 300;
}
.search-result__doc {
  color: #bbbbbb;
  font-size: 90%;
}
.search-result__doc p {
  margin: 0;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  line-height: 1.2em;
  max-height: 2.4em;
}

.js-modal-visible .modal-background {
  display: flex;
}
.main-content {
  position: relative;
}
.modal-background {
  position: absolute;
  display: none;
  height: 100%;
  width: 100%;
  background: rgba(120,120,120,.4);
  z-index: 100;
  align-items: center;
  justify-content: center;
}
.usage-modal {
  max-width: 90%;
  background: #fff;
  border: 2px solid #ccc;
  border-radius: 9px;
  padding: 5px 15px 20px;
  min-width: 50%;
  color: #555;
  position: relative;
  transform: scale(.5);
  transition: transform 200ms;
}
.js-modal-visible .usage-modal {
  transform: scale(1);
}
.usage-modal > .close-button {
  position: absolute;
  right: 15px;
  top: 8px;
  color: #aaa;
  font-size: 27px;
  cursor: pointer;
}
.usage-modal > .close-button:hover {
  text-shadow: 2px 2px 2px #ccc;
  color: #999;
}
.modal-title {
  margin: 0;
  text-align: center;
  font-weight: normal;
  color: #666;
  border-bottom: 2px solid #ddd;
  padding: 10px;
}
.usage-list {
  padding: 0;
  margin: 13px;
}
.usage-list > li {
  padding: 5px 2px;
  overflow: auto;
  padding-left: 100px;
  min-width: 12em;
}
.usage-modal kbd {
  background: #eee;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  border-radius: 3px;
  padding: 3px 8px;
  font-family: monospace;
  margin-right: 2px;
  display: inline-block;
}
.usage-key {
  float: left;
  clear: left;
  margin-left: -100px;
  margin-right: 12px;
}
.doc-inherited {
  font-weight: bold;
}

.anchor {
  float: left;
  padding-right: 4px;
  margin-left: -20px;
}

.main-content .anchor .octicon-link {
  width: 16px;
  height: 16px;
}

.main-content .anchor:focus {
  outline: none
}

.main-content h1:hover .anchor,
.main-content h2:hover .anchor,
.main-content h3:hover .anchor,
.main-content h4:hover .anchor,
.main-content h5:hover .anchor,
.main-content h6:hover .anchor {
  text-decoration: none
}

.main-content h1 .octicon-link,
.main-content h2 .octicon-link,
.main-content h3 .octicon-link,
.main-content h4 .octicon-link,
.main-content h5 .octicon-link,
.main-content h6 .octicon-link {
  visibility: hidden
}

.main-content h1:hover .anchor .octicon-link,
.main-content h2:hover .anchor .octicon-link,
.main-content h3:hover .anchor .octicon-link,
.main-content h4:hover .anchor .octicon-link,
.main-content h5:hover .anchor .octicon-link,
.main-content h6:hover .anchor .octicon-link {
  visibility: visible
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

:root {
  --gap: 24px;
  --content-gap: 40px;
  --nav-width: unset/*1250px*/;
  --main-width: 640px;
  --header-height: 55px;
  --footer-height: 60px;
  --radius: 8px;
  --brand-gradient: linear-gradient(30deg, #fc9842, #fbb034);
  --font-fallbacks: -apple-system,BlinkMacSystemFont,segoe ui,Roboto,Oxygen,Ubuntu,Cantarell,open sans,helvetica neue,sans-serif;
  
  --bg-1: #eff5ff;
  --bg-2: #e3edf6;
  --bg-3: #cce2ed;
  --bg-4: #b1d1e2;
  --color-visited-link: #b88dff;
  --body-font-color: #060607;
  --icon-filter: brightness(0) invert(1);
  --hint-color-info: #6bf;
  --hint-color-warning: #fd6;
  --hint-color-danger: #f66;
  --theme: #ffffff;
  --entry: #e3edf6;
  --fg-1: #10222c;
  --fg-2: #31566b;
  --fg-3: #5e91b1;
  --content: #10222c;
  --fg-link: #f22576;

  --syntax-c: #64969b; /* Comment */
  --syntax-n: #9b5cbf; /* Number */
  --syntax-t: #b51403; /* Type */
  --syntax-s: #509709; /* String */
  --syntax-i: #034d19; /* String interpolation */
  --syntax-k: #006699; /* Keyword */
  --syntax-o: #006699; /* Operator */
  --syntax-m: #4761f0; /* Method */
}


.dark {
  --gray-100: #1e1532;
  --gray-200: #221930;
  --gray-500: #291f3e;
  --color-visited-link: #b88dff;
  --body-background: #171021;
  --body-font-color: #e9ecef;
  --icon-filter: brightness(0) invert(1);
  --hint-color-info: #6bf;
  --hint-color-warning: #fd6;
  --hint-color-danger: #f66;
  --theme: #171021;
  --entry: #1e1532;
  --content: #e1daed;
  --fg-link: #ff5599;
  
  --bg-1: #171021;
  --bg-2: #1e1532;
  --bg-3: #291f3e;

  /*--fg-1: #e1daed;*/
  /*--fg-2: #a18cc7; */

  --fg-1: #e3ebff; /* bluer version */
  --fg-2: #bdadd9; /* lighter version */
  --fg-3: #8f76bb;

  --syntax-c: #6272a4; /* Comment */
  --syntax-n: #bd93f9; /* Number */
  --syntax-t: #f0b65c; /* Type */
  --syntax-s: #f1fa8c; /* String */
  --syntax-i: #f1fa8c; /* String interpolation */
  --syntax-k: #ff7cb1; /* Keyword */
  --syntax-o: #ff7cb1; /* Operator */
  --syntax-m: #50fa7b; /* Method */
}

/* Globally applied styling */
body {
  /* Adapted from the PaperMod theme (https://adityatelange.github.io/hugo-PaperMod/)
  because that's what we're using for the main site and I want font consistency */
  font-family: var(--font-fallbacks);
  background: var(--bg-1);
  color: var(--fg-2);
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-gap: var(--gap);
  font-size: 500;
}

::selection {
  background: #428bab;
  color: var(--fg-1);
}

*:focus {
  outline: 2px white !important;
}

button {
  background: 0 0;
  border: 0;
  color: var(--fg-1);
  cursor: pointer;
}

button:focus {
  outline: 0;
}

code {
  font-family: monospace;
}

a, a:visited {
  text-decoration: none;
  color: var(--fg-link);
}

a:hover {
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", var(--font-fallbacks);
  font-weight: 500;
  color: var(--fg-1);
  border-color: var(--bg-3);
}

/* Header styling */
.header {
  grid-column: 1/-1;
  grid-row: 1;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: calc(var(--nav-width) + var(--gap) * 2);
  margin-inline-start: auto;
  margin-inline-end: auto;
  line-height: var(--header-height);
  padding-top: var(--gap);
}

.nav a {
  display: block;
}

.logo,
#menu {
  display: flex;
  margin: auto var(--gap);
}

.logo {
  flex-wrap: inherit;
}

.logo a {
  font-size: 24px;
  /*font-weight: 700;*/
}

.logo a img {
  display: inline;
  vertical-align: middle;
  pointer-events: none;
  transform: translate(0, -10%);
  border-radius: 6px;
  margin-inline-end: 8px;
}

#theme-toggle svg {
  height: 18px;
}

button#theme-toggle {
  font-size: 26px;
  margin: auto 4px;
}

body.dark #moon {
  vertical-align: middle;
  display: none;
}

body:not(.dark) #sun {
  display: none;
}

#menu {
  list-style: none;
  word-break: keep-all;
  overflow-x: auto;
  white-space: nowrap;
  margin: 0 var(--gap);
  font-size: 16px;
}

#menu li + li {
  margin-inline-start: var(--gap);
}

#menu a {
  font-size: 16px;
  color: var(--fg-1);
}

#menu .active span {
  font-weight: 500;
  border-bottom: 2px solid currentColor;
}

#menu a.active:hover {
  text-decoration: none;
}

.logo-switches {
  flex-wrap: inherit;
}

.dark ::selection {
  background: #4e458a;
}


button#theme-toggle {
  margin: 0;
  padding: 0;
}

.logo-switches {
  display: flex;
  height: 100%;
  margin: 0;
}

.main {
  min-height: calc(100vh - var(--header-height) - var(--footer-height) - var(--gap));
}

.logo a img {
  transform: none;
}

.dark .logo a img {
  filter: drop-shadow(0px 0px 4px hsla(40, 50%, 50%, 0.6));
}

/* Sidebar styling */
.sidebar {
  grid-column: 1;
  grid-row: 2;
  mask-image: linear-gradient(to bottom, transparent 0%, black 5%);
  background: unset;
  color: inherit;
  box-shadow: unset;
  width: 35ch;
}

* {
  scrollbar-color: var(--fg-3) var(--bg-2);
}

*::-webkit-scrollbar-track {
  background-color: var(--bg-2);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--fg-3);
}

input.search-input {
  background: var(--bg-2);
  color: var(--fg-1);
  box-shadow: unset;
}

input.search-input:focus {
  box-shadow: 0 0 5px 2px var(--bg-3);
}

input.search-input::placeholder {
  color: var(--fg-3);
}

.search-result.current {
  background: var(--bg-3);
  border-left-color: var(--fg-3);
}

.search-result.current:hover,
.search-result.current:focus {
  border-left-color: var(--fg-2);
}

.search-result {
  background: var(--bg-2);
}

.search-result:not(.current):nth-child(2n) {
  background: var(--bg-1);
}

.search-result__title > a > .args {
  color: var(--fg-1);
  font-weight: 400;
}

.search-result:not(.current):hover .search-result__title > a,
.search-result:not(.current):focus .search-result__title > a,
.search-result__title > a:focus {
  color: var(--fg-1);
}

.search-result:not(.current):hover .args,
.search-result:not(.current):focus .args {
  color: var(--fg-1);
}

.search-result__type {
  color: var(--fg-2);
  font-weight: 400;
}

.search-result__doc {
  color: var(--fg-3);
}

.project-name {
  color: inherit;
  font-weight: inherit;
}

.sidebar a {
  color: var(--fg-2);
  font-family: "Poppins" var(--font-fallbacks);
}

.sidebar .current > a,
.sidebar a:hover {
  color: var(--fg-1);
}

.types-list li {
  box-sizing: border-box;
  width: fit-content;
}

.types-list li.parent::before {
  color: var(--fg-1);
}

/* Styling of main content */
.main-content {
  grid-column: 2;
  grid-row: 2;
  padding: unset;
  padding-right: var(--gap);
  box-sizing: border-box;
}

h1.type-name {
  margin: 13px 0 30px;
  background: var(--bg-2);
  border: unset;
  color: var(--fg-1);
}

:not(pre) > code {
  font-size: inherit;
}

.kind {
  color: var(--fg-2);
}

.superclass-hierarchy .superclass a,
.other-type a,
.entry-summary .signature {
  color: var(--fg-1);
  background: var(--bg-2);
  border: unset;
}

.superclass-hierarchy .superclass a:hover,
.other-type a:hover,
.entry-summary .signature:hover {
  color: var(--fg-1);
  background: var(--bg-3);
}

.entry-detail .signature {
  background: var(--bg-2);
  border: none;
  color: inherit;
}

.entry-detail:target .signature {
  background: var(--bg-3);
  border: none;
  //box-shadow: 0 0 10px 10px var(--bg-2);
  color: var(--fg-1);
}

.methods-inherited a {
  color: var(--fg-2);
}

.methods-inherited .tooltip>span {
  background: var(--bg-2);
}

.methods-inherited .tooltip * {
  color: var(--fg-1);
}

.entry-detail br + div {
  color: var(--fg-2);
}

.entry-detail br + div > a {
  margin: 0 0.5ch;
  text-decoration: underline;
}

/* Syntax highlighting */
.c { color: var(--syntax-c) }
.n { color: var(--syntax-n) }
.t { color: var(--syntax-t) }
.s { color: var(--syntax-s) }
.i { color: var(--syntax-i) }
.k { color: var(--syntax-k) }
.o { color: var(--syntax-o) }
.m { color: var(--syntax-m) }

pre, code, code a {
  color: var(--fg-1);
  background: var(--bg-2);
  border: none;
  border-radius: var(--radius);
}

:not(pre) > code {
  background: var(--bg-2);
}

/* Flags */
span.flag {
  padding: 2px 4px 1px;
  border-radius: 3px;
  margin-right: 3px;
  font-size: 11px;
  border: 1px solid transparent;
  font-family: "Poppins", var(--font-fallback);
  font-weight: bold;
  color: black;
}

span.flag.red {
  background-color: #ff1260;
  color: white;
}

span.flag.orange {
  background: var(--brand-gradient);
  color: black;
}

span.flag.yellow {
  background-color: #f7ff00;
  border-color: black;
  color: black;
}

.dark span.flag.yellow {
  border-color: transparent;
}

span.flag.green {
  background-color: #00ff70;
  border-color: black;
  color: black;
}

.dark span.flag.green {
  border-color: transparent;
}

span.flag.lime {
  background-color: #a3ff00;
  border-color: black;
  color: black;
}

.dark span.flag.lime {
  border-color: transparent;
}

span.flag.purple {
  background-color: #7F0AC1;
  color: white;
  color: black;
}
