@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
  font-family: -apple-system,BlinkMacSystemFont,segoe ui,Roboto,Oxygen,Ubuntu,Cantarell,open sans,helvetica neue,sans-serif;
}

code {
  font-family: monospace;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins";
}

:root {
  --gap: 24px;
  --content-gap: 40px;
  --nav-width: 1024px;
  --main-width: 640px;
  --header-height: 55px;
  --footer-height: 60px;
  --radius: 8px;

  --theme: #ffffff;
  --entry: #e3edf6;
  --primary: #10222c;
  --secondary: #31566b;
  --tertiary: #5e91b1;
  --content: #10222c;

  --hljs-bg: #1c1d21;
  --code-bg: #f5f5f5;
  --border: #eee;
  --brand-gradient: linear-gradient(30deg, #fc9842, #fbb034);
  --special: #f22576;
}

.dark {
  /*--theme: #221930;
  --entry: #291f3e;*/
  --theme: #171021;
  --entry: #1e1532;
  --primary: #e1daed;
  --secondary: #a18cc7;
  --tertiary: #8f76bb;
  --content: #e1daed;

  --hljs-bg: #2e2e33;
  --code-bg: #37383e;
  --border: var(--entry);
  --special: #ff5599;
}

body {
  background: var(--code-bg)
}

.post-content a {
  color: var(--special);
  text-decoration: none;
  box-shadow: none;
}

.post-content a:hover {
  text-decoration: underline;
  box-shadow: none;
}

/*.logo {
  display: block;
  margin-top: var(--gap);
}

.logo > img {
  height: 70px;
}
*/

.entry-header, h1.post-title, ul#menu {
  font-family: "Poppins";
}

.entry-header h2, h1.post-title {
  font-weight: 500;
}

.first-entry .entry-header h1 {
  font-weight: 500;
}

.dark ::selection {
  background: #4e458a;
}

::selection {
  background: #428bab;
  color: var(--primary);
}

button#theme-toggle {
  margin: 0;
}

.logo-switches {
  margin: 0;
}

.nav {
  padding-top: var(--gap);
}

.main {
  min-height: calc(100vh - var(--header-height) - var(--footer-height) - var(--gap));
}

.logo a img {
  transform: none;
}

.dark .logo a img {
  filter: drop-shadow(0px 0px 4px hsla(40, 50%, 50%, 0.6));
}
